@font-face {
    font-family: Atmospheric;
    src: url(/resources/fonts/aAtmospheric.ttf);
}

@font-face {
    font-family: Mono45-Regular;
    src: url(/resources/fonts/Mono45Headline-Regular.ttf);
}

@font-face {
    font-family: Gontserrat;
    src: url(/resources/fonts/Gontserrat-Regular.ttf);
}

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--light);
    font-family: Gontserrat;
    font-size: 1.2rem;
    color: var(--text);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root {
    --primary: #0b70cf;
    --light: #DADEE6;
    --light-grad: radial-gradient(circle, rgba(218, 222, 230, 1) 70%, rgba(174, 178, 185, 1) 100%);
    --dark: #242424;
    --grey: #c6c9cf;
    --text: #47494b;
}


/* BASICS */
h1 {
    font-family: Atmospheric;
    font-size: 5rem;
    color: var(--primary);
    margin: 0;
    padding: 2rem 1rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-family: Atmospheric;
    margin-left: -1rem;
    text-align: center;
}

h3 {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: Atmospheric;
}

p a {
    color: var(--primary);
    transition: 0.2s;
    text-decoration: none;
}

p a:hover {
    color: dodgerblue;
    text-decoration: underline dashed 2px;
}

/* NAVBAR */
nav {
    width: 100%;
    background-color: var(--dark);
    height: 4rem;
    letter-spacing: 0;
    font-size: 0;
    transition: opacity 0.3s;
    z-index: 5;
}

nav img {
    max-height: 3rem;
    width: auto;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
}

nav a {
    display: inline-block;
    text-decoration: none;
    position: relative;
}

nav a:not(.navlogo) {
    letter-spacing: normal;
    font-size: 2rem;
    padding-inline: 1.5rem;
    height: 100%;
    transform: translateY(-2.13rem) skew(-15deg);
    background-color: var(--dark);
    transition: background-color 0.2s;
}

nav a:not(.navlogo) div {
    font-family: Mono45-Regular;
    color: var(--light);
    transform: translateY(0.7rem);
    transition: transform 0.2s;
}

nav a:not(.navlogo):hover {
    background-color: var(--primary);
}

nav a:not(.navlogo):hover div {
    transform: translateY(0.6rem);
}

/* SCROLL TO TOP */
#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 10;
    background-color: var(--primary);
    color: var(--light);
    cursor: pointer;
    border: none;
    border-radius: 3px;
    transition: background-color 0.2s;
    text-align: center;
    padding: 0.3rem 0.3rem 0.2rem 0.3rem;
}

#scrollToTopBtn img {
    max-width: 2rem;
    max-height: 2rem;
    filter: opacity(0.8)
}

#scrollToTopBtn:hover {
    background-color: var(--grey);
    color: var(--text);
}

#scrollToTopBtn:hover img {
    filter: opacity(0.5)
}

/* BANNER */
.banner,
.about,
.contact {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-inline: 0 !important;
    padding-inline: 15%;
    color: var(--grey);
}

.banner {
    background-image: url("/resources/images/panorama.jpg");
    margin-inline: 0 !important;
    padding-inline: 15%;

}

.banner .flexbox {
    backdrop-filter: brightness(60%);
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 90%;
    background-clip: padding-box;
    background-image: url("/resources/images/sanfran.jpg");
    background-repeat: round;
    min-height: 20rem;
}

.about .flexbox {
    backdrop-filter: brightness(60%);
    padding: 2rem;
}

.contact {
    background-image: url("/resources/images/aurora.jpg");
}

.banner .flexbox,
.about .flexbox {
    padding-inline: 10%;
    border-radius: 5px;
}

.banner .flexbox img {
    max-height: 20rem;
    width: auto;
    padding: 1rem;
    border-radius: 25px;

}

/* CONTENT */
section {
    padding-block: 2rem;
    margin-inline: 15%;
    width: 70%;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    column-gap: 2rem;
    text-align: left;
    flex-wrap: wrap;
}

.flexbox>img {
    max-height: 20rem;
    width: auto;
    padding: 1rem;
    border-radius: 25px;
}

.flexbox .flextext {
    flex: 40%;
    text-align: left;
}

.flexbox .flextext h2 {
    text-align: left;
}

.flexbox .flexcard {
    flex: 10%;
    padding: 1rem;
    background-color: var(--grey);
    text-align: center;
    width: 10rem;
    min-width: 12rem;
    max-width: 12rem;
    border-radius: 5px;
    height: 15rem;
}

.flexbox .flexcard img {
    max-height: 9rem;
    height: auto;
    padding-top: 1rem;
}

.flexbox .no-style {
    color: var(--text);
    text-decoration: none;
}

.flexbox .flexproj {
    padding: 1rem;
    flex: 49%;
    max-width: 23.6rem;
    width: 100%;
    background-color: var(--grey);
    border-radius: 5px;
    text-align: center;
    height: 25rem;
    transition: 0.5s;
    cursor: pointer;
}

.flexbox .flexproj:hover {
    transform: scale(1.03);
    box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.3);
}

.flexbox .flexproj img {
    max-width: 23rem;
    height: auto;
    max-height: 15rem;
    border-radius: 5px;
    object-fit: cover;
}

.flexbox .flexproj p {
    font-size: 1rem;
}

.flexbox .flexproj ul {
    list-style: none;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0;
}

.flexbox .flexproj ul li {
    display: inline;
    padding-inline: 1rem;
}

.flexbox .flexctact {
    flex: 10%;
    width: 5rem;
    height: 5rem;
    transition: 0.3s ease-in-out; 
    object-fit: cover;
    border-radius: 3px;
}

.flexbox .flexctact:hover {
    transform: scale(1.08);
}


/* SCALING */
@media only screen and (max-width: 750px) {
    h1 {
        font-size: 3rem;
    }

    nav {
        text-align: center;
        height: 4rem;
    }

    nav img {
        height: 3rem;
    }

    nav a:not(.navlogo) {
        font-size: 1.7rem;
        transform: translateY(-2.4rem) skew(-15deg);
    }

    nav a:not(.navlogo) div {
        transform: translateY(1rem);
    }

    nav a:not(.navlogo):hover div {
        transform: translateY(0.85rem);
    }
}