body {
    background-color: #2c2c2c;
    font-family: 'Segoe UI', 'Trebuchet MS';
    color: #ffe600;
    padding: 0;
    margin: 0;
}

.construction {
    text-align: center;
    margin-top: 10%;
}

.construction p {
    font-size: 15pt;
}