body {
    background-color: rgb(44, 42, 42);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(29, 179, 230);
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 20pt;
}

h3 {
    font-size: 17pt;
}

p,
li {
    font-size: 14pt;
}

.clicklist {
    background-color: none;
    cursor: pointer;
    color: rgb(28, 155, 197);
    font-size: 14pt;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(28, 155, 197);
    padding: 5px;
}

.clicklist ul {
    list-style-type: square;
    cursor: default;
}

.section, .sectionwarning, .bannersection {
    background-color: none;

    padding-left: 10pt;
    padding-top: 1pt;
    padding-bottom: 3pt;
    padding-right: 10pt;

    border-radius: 10px;
    border-style: solid;
}

.section, .sectionwarning {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10pt;
    margin-bottom: 10pt;
}

.sectionwarning {

    text-align: center;
    color: rgb(255, 187, 0);    
    border-color: rgb(255, 187, 0);
}

.section, .bannersection {
    color: rgb(29, 179, 230);
    border-color: rgb(29, 179, 230);
}

.bannersection {
    text-align: center;

    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10pt;
    margin-bottom: 40px;
}

.section a,
.sectionwarning a {
    color: rgb(178, 178, 178);
    padding-left: 2pt;
    padding-right: 2pt;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14pt;
}

.section a:hover,
.sectionwarning a:hover {
    animation-name: pulselinktext;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.linksection {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(44, 44, 44);
    text-align: center;
}

.headnav {
    background-color: none;
    padding-left: 10pt;
    padding-right: 10pt;
    border-color: rgb(29, 179, 230);
    border-bottom-style: solid;
    border-top-style: solid;
    border-width: 10px;
    margin-bottom: 2%;
}

.headnav td {
    padding-left: 10pt;
}

.aboutmenav a {
    background-color: #5a5a5a;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    text-decoration: none;
}

/*everything below here is to do with site-wide dropdown menus*/
.dropbtn {
    background-color: #7d7d7d;
    color: white;
    padding: 16px;
    font-size: 20pt;
    border: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #9b9b9b;
    width: 150px;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    font-size: 14pt;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(107, 107, 107);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    animation-name: dropcontentslide;
    animation-duration: 1s;
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #454545;
}

/*ANIMATIONS*/
/* makes .linksection pulse when hovered over */
@keyframes pulselinksection {
    0% {
        color: rgb(29, 179, 230);
        background-color: rgb(76, 76, 76);
        border-color: rgb(29, 179, 230);
    }

    50% {
        color: rgb(52, 211, 255);
        background-color: rgb(115, 115, 115);
        border-color: rgb(52, 211, 255);
    }

    100% {
        color: rgb(29, 179, 230);
        background-color: rgb(76, 76, 76);
        border-color: rgb(29, 179, 230);
    }
}

.linksection .section:hover {
    animation-name: pulselinksection;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.linksection .section:hover img {
    opacity: 0.9;
}

/* makes .dropcontent slide into view */
@keyframes dropcontentslide {
    0% {
        max-height: 0px;
        opacity: 0.0;
    }

    100% {
        max-height: 300px;
        opacity: 1.0;
    }
}

/* makes text links pulse */
@keyframes pulselinktext {
    0% {
        color: rgb(178, 178, 178);
        background-color: #696969;
    }

    50% {
        background-color: #b8b8b8;
        color: white;
    }

    100% {
        color: rgb(178, 178, 178);
        background-color: #696969;
    }
}